.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: var(--token-jGYz-I0rgqWY);
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.cardBasic {
  background: rgba(0, 0, 0, 0.019);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.059);
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 6px;
}
.cardHeadSmall {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: var(--token-IGX7LhJueKhL);
}
.cardHeadSmall > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardHeadSmall > :global(.__wab_flex-container) > *,
.cardHeadSmall > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardHeadSmall > :global(.__wab_flex-container) > picture > img,
.cardHeadSmall
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeadSmall {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--token-IGX7LhJueKhL);
}
.text__cZi7C {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.879);
  align-self: stretch;
  position: relative;
}
.formItemVertical {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputLabelVertical {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-bottom: 8px;
}
.inputLabelVertical > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.inputLabelVertical > :global(.__wab_flex-container) > *,
.inputLabelVertical > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputLabelVertical > :global(.__wab_flex-container) > picture > img,
.inputLabelVertical
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.inputLabelVertical {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.text__w9OBq {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(255, 119, 116, 1);
  position: relative;
}
.inputLabel {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.879);
  position: relative;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.inputCaption {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2px;
}
.text___03BR {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.449);
  position: relative;
}
.formItemVertical3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputLabelVertical3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-bottom: 8px;
}
.inputLabelVertical3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.inputLabelVertical3 > :global(.__wab_flex-container) > *,
.inputLabelVertical3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.inputLabelVertical3 > :global(.__wab_flex-container) > picture > img,
.inputLabelVertical3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.inputLabelVertical3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.text__sdXdt {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(255, 119, 116, 1);
  position: relative;
}
.inputLabel3 {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.879);
  position: relative;
}
.inputCaption3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2px;
}
.text__arZYa {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.449);
  position: relative;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formItemVertical4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputLabelVertical4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-bottom: 8px;
}
.inputLabelVertical4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.inputLabelVertical4 > :global(.__wab_flex-container) > *,
.inputLabelVertical4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.inputLabelVertical4 > :global(.__wab_flex-container) > picture > img,
.inputLabelVertical4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.inputLabelVertical4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.text___6Fm0D {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(255, 119, 116, 1);
  position: relative;
}
.inputLabel4 {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.879);
  position: relative;
}
.inputCaption4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2px;
}
.text__oifAy {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.449);
  position: relative;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cta:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__pFcu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
